@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-100: #f3f4f6;
	--dk-gray-200: #e5e7eb;
	--dk-gray-300: #d1d5db;
	--dk-gray-400: #9ca3af;
	--dk-gray-500: #6b7280;
	--dk-gray-600: #4b5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1f2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

.material-icons {
	color: var(--dk-gray-300);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--dk-darker-bg);
	font-size: 0.925rem;

	a {
		color: var(--dk-gray-400);
		text-decoration: none;
	}
}

.App {
	transition: all 0.3s ease-in-out;

	&-fullwidth {
		margin-left: 0;
	}
}
