@import '../App/App.scss';

.Dashboard {
	&__card {
		padding: 8px 8px;
		border-radius: 4px;
		background-color: var(--dk-dark-bg);
		margin: 8px 8px;

		width: 100%;

		&--half {
			width: 50%;
		}

		&--quarter {
			width: 25%;
		}

		&__table {
			min-height: 100px;
			width: 100%;
			th,
			td {
				padding: 8px;
			}
		}
	}

	&__table-nav {
		display: flex;
		width: 100%;
		height: 42px;
		align-items: flex-start;
		align-content: center;

		> * {
			cursor: pointer;
		}
	}

	.tooltip {
		display: none;
		background-color: white;
		position: absolute;
		min-height: 50px;
		min-width: 100px;
		height: auto;
		width: auto;
		border-radius: 4px;
		padding: 5px;
		border: thin solid gray;
		box-shadow: 6px 6px 28px -5px rgba(0, 0, 0, 0.7);
	}
}

h1 {
	font-weight: 500;
}
